.desktop {
    background-color: rgba(255, 255, 255, 1.0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .overlap-wrapper {
    background-color: rgba(255, 255, 255, 1.0);
    background: linear-gradient(
      129deg,
      rgba(86, 86, 86, 1) 0%,
      rgba(188, 188, 188, 1) 96%
    );
    width: 1440px;
    height: 1024px;
  }
  
  .desktop .overlap {
    position: relative;
    height: 1024px;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 1440px;
    height: 1024px;
    top: 0;
    left: 0;
  }
  
  .desktop .rectangle {
    width: 392px;
    height: 127px;
    top: 0;
    position: absolute;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    top: 18px;
    left: 156px;
    font-family: "Karantina-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .automation {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 5px;
    left: 25px;
  }
  
  .desktop .image {
    position: absolute;
    width: 1440px;
    height: 900px;
    top: 124px;
    left: 0;
  }
  
  .desktop .div {
    position: absolute;
    width: 161px;
    height: 54px;
    top: 40px;
    left: 1242px;
  }
  
  .desktop .rectangle-2 {
    width: 161px;
    height: 51px;
    top: 3px;
    border-radius: 25px;
    position: absolute;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .desktop .search {
    position: absolute;
    width: 36px;
    height: 51px;
    top: 0;
    left: 14px;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    width: 90px;
    top: 5px;
    left: 56px;
    font-family: "Karantina-Regular", Helvetica;
    font-weight: 400;
    color: #0f0000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-3 {
    position: absolute;
    top: 32px;
    left: 513px;
    font-family: "Karantina-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-4 {
    position: absolute;
    top: 32px;
    left: 675px;
    font-family: "Karantina-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-5 {
    position: absolute;
    top: 31px;
    left: 884px;
    font-family: "Karantina-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-6 {
    position: absolute;
    top: 31px;
    left: 1052px;
    font-family: "Karantina-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  